name: CI
on:
  push:
    branches: [ "master" ]

  pull_request:
    branches: [ "master" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TEST: ${{ secrets.TEST }}
    steps:
      - uses: actions/checkout@v3

      - name: Get first chars secret
        id: get_secret
        #run: cat ${{ secrets.TEST }} | cut -c1,2
        run: echo ${{ env.TEST }} | cut -c1,2

      - name: Echo result
        run: echo Hey -- ${{ steps.get_secret.outputs.* }} -- Hey
